*.rsuser
*.suo
*.user
*.vcxproj.user
*.vcxproj.filters
*.userosscache
*.sln.docstates
Thumbs.db
Desktop.ini
*.cab
*.msi
*.msm
*.msp
*.lnk

[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Ll]og/
[Oo]ut/
packages/
.vscode/
.vs/