*.rsuser
*.suo
*.user
Thumbs.db
Desktop.ini
*.cab
*.msi
*.msm
*.msp
*.lnk

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Ll]og/
packages/
.vscode/
